@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: white;
}

ul,
li,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

.button-remove {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
